/* Write your CSS here */

.bg-crypto-container {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
